#titleText {
    text-align: center;
}

#main-nav {
    background-color: black;
    color:beige;
    width:98%;
    padding:10px;
}

#main-nav li{
    display: inline-block;
    position: relative;
}

#main-nav li a:hover{
    color: black;
    background-color:beige;
}

#main-nav ul{
    list-style-type: none;
    padding: 10px;
    margin:0;
    text-align: center;
}

#main-nav li a{
    color:beige;
    padding:10px;
    text-decoration: none;
}

#main-nav ul li{
    list-style-type: none;
    display:inline-block;
}

#imageSlider {
    margin-bottom:5px;
    margin-left: 425px;
    text-align: center;
    border:2px solid;
}

.audio-instructions {
    background-color:black;
    color:beige;
    border:2px solid black;
    float:center;
    width:60%;
    margin:auto;
    padding:5px;
  }

